{% extends "base.html" %}

{% block title %}Team list{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    {% for team in teams %}
    {% if team.persons|length %}
    {% set rented = [] %}
    <table class="new-page sportorg-table">
        <tr style="background: white; border: 0">
        <td colspan="8" style="border: 0">
            <h2 id="{{team.name}}">{{race.date}} / {{team.name}}</h2>
        </td>
        </tr>
        <tr>
            <td>№</td>
            <td>Фамилия, имя</td>
            <td>Номер</td>
            <td>Группа</td>
            <td>Разряд</td>
            <td>ГР</td>
            <td>Номер чипа</td>
            <td>Время старта</td>
            <td></td>
        </tr>
        {% for person in team.persons %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ person.name }}{% if person.is_out_of_competition %} *{% endif %}</td>
            <td>{{ person.bib }}</td>
            <td>{{ person.group }}</td>
            <td>{{ person.qual }}</td>
            <td>{{ person.year }}</td>
            <td>{{ person.sportident_card }}{% if person.is_rented %} *{% if rented.append('1') %}{% endif %}{% endif %}</td>
            <td>{{ person.start }}</td>
            <td>{{ person.price }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>{% if team.price %}Стартовый взнос: {{ team.price }}{% endif %}
    {% if rented|length %}<br>Арендованных ЧИПов: {{ rented|length }}{% endif %}</p>

    <a href="http://www.sportorg.o-ural.ru">ПО {{name}} {{version}}</a>.
    Время печати:
    <script type="text/javascript">
        var l = new Date();
        document.write (l.toLocaleString());
    </script>
    {% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}{% endblock %}