{% extends "base.html" %}
{% block title %}Entries Statistics List{% endblock %}
{% block head %}{{ super() }}{% endblock %}

{% block content %}
<div class="text-center">
    <h3>{{ race.data.description }}</h3>
    <h2>Протокол комиссии по допуску</h2>
</div>
<h3>Информация о коллективах</h3>
<div id="org-group"></div>

<h3>Информация о квалификации спортсменов</h3>
<div id="qual-group"></div>

<div>
    <h2>
        <br>&nbsp;<br>_______________________________
        <br>&nbsp;<br>_______________________________
        <br>&nbsp;<br>_______________________________
    </h2>
</div>
{% raw %}
<script>
    var race = {% endraw %}{{race|tojson}}{% raw %};
    racePreparation(race);
    // команда группа
    function getCountPersonOrg(org, group) {
        var count = 0;
        for (var _i = 0, _a = race.persons; _i < _a.length; _i++) {
            var person = _a[_i];
            if (person.group && person.organization) {
                if (person.group.id === group.id && person.organization.id === org.id) {
                    count++;
                }
            }
        }
        return count;
    }
    function getOrgGroupRows() {
        var arr = [];
        var index = 0;
        var groupTotal = {
            index: index,
            org: 'Всего'
        };
        for (var _i = 0, _a = race.organizations; _i < _a.length; _i++) {
            var org = _a[_i];
            index++;
            var row = {
                index: index,
                org: org.name,
                total: 0
            };
            for (var _b = 0, _c = race.groups; _b < _c.length; _b++) {
                var group = _c[_b];
                var count = getCountPersonOrg(org, group);
                row[group.id] = count;
                row.total += count;
                groupTotal[group.id] = (groupTotal[group.id] || 0) + count;
            }
            arr.push(row);
        }
        arr.push(groupTotal);
        return arr;
    }
    // разряд группа
    function getCountPersonQual(qual, group) {
        var count = 0;
        for (var _i = 0, _a = race.persons; _i < _a.length; _i++) {
            var person = _a[_i];
            if (person.group) {
                if (person.group.id === group.id && Number(person.qual) === Number(qual)) {
                    count++;
                }
            }
        }
        return count;
    }
    function getQualGroupRows() {
        var arr = [];
        var index = 0;
        var groupTotal = {
            index: index,
            qual: 'Всего'
        };
        for (var _i = 0, _a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]; _i < _a.length; _i++) {
            var qual = _a[_i];
            index++;
            var row = {
                index: index,
                qual: Qualification[qual],
                total: 0
            };
            for (var _b = 0, _c = race.groups; _b < _c.length; _b++) {
                var group = _c[_b];
                var count = getCountPersonQual(qual, group);
                row[group.id] = count;
                row.total += count;
                groupTotal[group.id] = (groupTotal[group.id] || 0) + count;
            }
            arr.push(row);
        }
        arr.push(groupTotal);
        return arr;
    }

    var OrgFields = {
        fields: [
            {key: 'index', title: '№'},
            {key: 'org', title: 'Коллектив'}
        ],
        init: function () {
            for (var _i = 0, _a = race.groups; _i < _a.length; _i++) {
                var group = _a[_i];
                this.fields.push({ key: group.id, title: group.name });
            }
            this.fields.push({key: 'total', title: 'Всего'});
            return this;
        }
    }.init();

    var QualFields = {
        fields: [
            {key: 'index', title: '№'},
            {key: 'qual', title: 'Квалификационный разряд'}
        ],
        init: function () {
            for (var _i = 0, _a = race.groups; _i < _a.length; _i++) {
                var group = _a[_i];
                this.fields.push({ key: group.id, title: group.name });
            }
            this.fields.push({key: 'total', title: 'Всего'});
            return this;
        }
    }.init();

    document.getElementById('org-group').appendChild(new TableGenerator(getOrgGroupRows(), OrgFields.fields).getTable({className: 'sportorg-table'}));
    document.getElementById('qual-group').appendChild(new TableGenerator(getQualGroupRows(), QualFields.fields).getTable({className: 'sportorg-table'}));
</script>
{% endraw %}
{% endblock %}