{% extends "base.html" %}

{% block title %}Start List{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% macro view_groups() -%}{% for group in groups %}<a href="#{{group.name}}">{{group.name}}</a> {% endfor %}{%- endmacro %}
<div>
    <div class="text-center">
        <h3>{{ race.sub_title }} <br>{{ race.date }} {{ race.location }}</h3>
        <h2>ПРОТОКОЛ СТАРТА</h2>
    </div>
    <table>

{% block content %}
<div class="text-center">
    <h2>ПРОТОКОЛ СТАРТА</h2>
    <h2>{{ race.sub_title }} <br>{{ race.date }} {{ race.location }}</h2>
</div>
<table class="sportorg-table">
    {% for group in groups %}
    {% if group.persons|length %}
    <tr style="background: white; border: 0">
        <td colspan="8" style="border: 0">
            <h2 id="{{group.name}}">{{group.name}}</h2>
            <div class="no-print">{{ view_groups() }}</div>
        </td>
    </tr>
    <tr>
        <td>№</td>
        <td>Фамилия, имя</td>
        <td>Коллектив</td>
        <td>Разряд</td>
        <td>ГР</td>
        <td>Номер</td>
        <td>Номер чипа</td>
        <td>Время старта</td>
    </tr>
    {% set index = [1] %}
    {% for person in group.persons %}
    {% if person.bib // 1000 == 1 and group.type == 'RELAY' %}
    <tr>
        <td>{{index|length}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% if index.append(1) %} {% endif %} {# increment index length by 1 #}
    {% endif %}
    <tr>
        {% if group.type == 'RELAY' %}
        <td></td>
        {% else %}
        <td>{{ loop.index }}</td>
        {% endif %}
        <td>{{ person.name }}{% if person.is_out_of_competition %} *{% endif %}</td>
        <td>{{ person.team }}</td>
        <td>{{ person.qual }}</td>
        <td>{{ person.year }}</td>
        <td>{{ person.bib }}</td>
        <td>{{ person.sportident_card }}{% if person.is_rented %} *{% endif %}</td>
        <td>{{ person.start }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% endfor %}
</table>
<div>
    <table class="empty-table">
        <tr>
            <td><b>Главный судья:</b></td>
            <td width="150px"></td>
            <td><b>{{ race.chief_referee }}</b></td>
        </tr>
        <tr>
            <td><b>Главный секретарь:</b></td>
            <td width="150px"></td>
            <td><b>{{ race.secretary }}</b></td>
        </tr>
    </table>
</div>
{% endblock %}