{% extends "base.html" %}

{% block title %}Entries Statistics List{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Протокол мандатной комиссии</h1>
        <h2>{{ race.sub_title }} <br>{{ race.date }}</h2>
    </div>
    <h3>Информация о коллективах</h3>
    <table class="sportorg-table">
    {% for team in statistics.teams %}
        {% if loop.index == 1 %}
            <tr>
                <td>№</td>
                <td>Коллектив</td>
                <td>Всего</td>
                {% for group in team.groups %}
                    <td>{{ group.name }}</td>
                {% endfor %}
            </tr>
        {% endif %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{% if team.name == '_TOTAL' %}Всего{% else %}{{ team.name }}{% endif %}</td>
            <td>{% if team.count %}{{ team.count }}{% endif %}</td>
            {% for group in team.groups %}
                <td>{% if group.count %}{{ group.count }}{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <h3>Информация о квалификации спортсменов</h3>
    <table class="sportorg-table">
    {% for qual in statistics.qualification %}
        {% if loop.index == 1 %}
            <tr>
                <td>№</td>
                <td>Квалификационный разряд</td>
                <td>Всего</td>
                {% for group in qual.groups %}
                    <td>{{ group.name }}</td>
                {% endfor %}
            </tr>
        {% endif %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ qual.name }}</td>
            <td>{% if qual.count %}{{ qual.count }}{% endif %}</td>
            {% for group in qual.groups %}
                <td>{% if group.count %}{{ group.count }}{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <div>
       <h2>
           <br>&nbsp;<br>_______________________________
           <br>&nbsp;<br>_______________________________
           <br>&nbsp;<br>_______________________________
       </h2>
    </div>
{% endblock %}