{% raw %}
<style>
    /* SETTINGS */
    .sportorg-settings {
        position: fixed;
        border: 1px solid #dddddd;
        border-radius: 5px;
        background: white;
        top: 3px;
        right: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    .sportorg-settings-row {
        margin: 5px;
    }

    @media print {
        .sportorg-settings {
            display: none;
        }
    }
</style>
<script>
    var MAX_ORG_NAME = 50;
    var MAX_PERSON_NAME = 30;

    var TableGenerator = (function () {
        var Table = function () {
            return document.createElement('table');
        };
        var THead = function () {
            return document.createElement('thead');
        };
        var TBody = function () {
            return document.createElement('tbody');
        };
        var Tr = function () {
            return document.createElement('tr');
        };
        var Th = function () {
            return document.createElement('th');
        };
        var Td = function () {
            return document.createElement('td');
        };

        function TableGenerator(data, fields) {
            this.data = data;
            this.fields = fields;
        }

        TableGenerator.prototype.getTable = function (options) {
            var table = Table();
            if (options && options.className) table.className = options.className;
            table.appendChild(this.getHead());
            table.appendChild(this.getBody());
            return table;
        };

        TableGenerator.prototype.getHead = function () {
            var tr = Tr();
            for (var _i = 0, _a = this.headers(); _i < _a.length; _i++) {
                var key = _a[_i];
                var th = Th();
                var title = this.getHeaderName(key);
                if (title instanceof Node) {
                    th.appendChild(title);
                }
                else {
                    th.appendChild(document.createTextNode(title));
                }
                tr.appendChild(th);
            }
            var thead = THead();
            thead.appendChild(tr);
            return thead;
        };

        TableGenerator.prototype.getBody = function () {
            var tbody = TBody();
            var cols = this.headers().length;
            for (var _b = 0, _c = this.data; _b < _c.length; _b++) {
                var obj = _c[_b];
                var tr = Tr();
                if (obj instanceof Node || typeof obj === 'string') {
                    var td = Td();
                    td.colSpan = cols;
                    if (typeof obj === 'string') {
                        td.appendChild(document.createTextNode(obj));
                    }
                    else {
                        td.appendChild(obj);
                    }
                    tr.appendChild(td);
                }
                else {
                    for (var _i = 0, _a = this.headers(); _i < _a.length; _i++) {
                        var key = _a[_i];
                        var td = Td();
                        if (obj[key]) {
                            if (obj[key] instanceof Node) {
                                td.appendChild(obj[key]);
                            }
                            else {
                                td.appendChild(document.createTextNode(obj[key]));
                            }
                        }
                        tr.appendChild(td);
                    }
                }
                tbody.appendChild(tr);
            }
            return tbody;
        };

        TableGenerator.prototype.headers = function () {
            if (this._headers) {
                return this._headers
            }
            if (!this.fields) {
                var headers = {};
                for (var _i = 0, _a = this.data; _i < _a.length; _i++) {
                    var obj = _a[_i];
                    for (var key in obj) {
                        headers[key] = true;
                    }
                }
                this._headers = Object.keys(headers)
            } else if (this.fields instanceof Array) {
                this._headers = [];
                for (var _i = 0, _a = this.fields; _i < _a.length; _i++) {
                    var field = _a[_i];
                    if (typeof field === 'string') {
                        this._headers.push(field);
                    }
                    else if (field.active !== false) {
                        this._headers.push(field.key);
                    }
                }
            }
            return this._headers;
        };

        TableGenerator.prototype.getHeaderName = function (key) {
            if (this.fields && this.fields instanceof Array) {
                for (var _i = 0, _a = this.fields; _i < _a.length; _i++) {
                    var field = _a[_i];
                    if (typeof field === 'object' && field.key === key) {
                        return field.title;
                    }
                }
            }
            return key;
        };

        return TableGenerator
    }());

    var TableTextGenerator = (function () {

        function TableTextGenerator(data, fields) {
            this.data = data;
            this.fields = fields;
        }

        TableTextGenerator.prototype.getTable = function (options) {
            var node = document.createElement('pre');
            if (options && options.className) node.className = options.className;
            node.appendChild(this.getHead());
            node.appendChild(this.getBody());
            return node;
        };

        TableTextGenerator.prototype.getSliceText = function (text, size) {
            if (text === undefined) {
                text = '';
            }
            text = String(text);
            if (size) {
                text = text.slice(0, size);
                if (text.length < size + 1) {
                    var arr = [];
                    for (var i = 0; i < size + 1 - text.length; i++) {
                        arr.push(' ');
                    }
                    text += arr.join('');
                }
            } else {
                text += '\t';
            }
            return text;
        };

        TableTextGenerator.prototype.getHead = function () {
            var text = '';
            for (var _i = 0, _a = this.headers(); _i < _a.length; _i++) {
                var key = _a[_i];
                var h = this.getHeaderObj(key);
                var title = h && h.title;
                var size = h && h.size;
                if (size) {
                    text += this.getSliceText(title, size);
                } else {
                    text += title;
                }
            }
            text += '\n';
            var blockU = document.createElement('u');
            var blockB = document.createElement('b');
            blockB.appendChild(document.createTextNode(text));
            blockU.appendChild(blockB);
            return blockU;
        };

        TableTextGenerator.prototype.getBody = function () {
            var text = '';
            for (var _b = 0, _c = this.data; _b < _c.length; _b++) {
                var obj = _c[_b];
                if (typeof obj === 'string') {
                    text += obj;
                } else {
                    for (var _i = 0, _a = this.headers(); _i < _a.length; _i++) {
                        var key = _a[_i];
                        var h = this.getHeaderObj(key);
                        var size = h && h.size;
                        if (size) {
                            text += this.getSliceText(obj[key], size);
                        } else {
                            text += obj[key];
                        }
                    }
                }
                text += '\n';
            }
            return document.createTextNode(text);
        };

        TableTextGenerator.prototype.headers = function () {
            if (this._headers) {
                return this._headers
            }
            if (!this.fields) {
                var headers = {};
                for (var _i = 0, _a = this.data; _i < _a.length; _i++) {
                    var obj = _a[_i];
                    for (var key in obj) {
                        headers[key] = true;
                    }
                }
                this._headers = Object.keys(headers)
            } else if (this.fields instanceof Array) {
                this._headers = [];
                for (var _i = 0, _a = this.fields; _i < _a.length; _i++) {
                    var field = _a[_i];
                    if (typeof field === 'string') {
                        this._headers.push(field);
                    }
                    else if (field.active !== false) {
                        this._headers.push(field.key);
                    }
                }
            }
            return this._headers;
        };

        TableTextGenerator.prototype.getHeaderName = function (key) {
            if (this.fields && this.fields instanceof Array) {
                for (var _i = 0, _a = this.fields; _i < _a.length; _i++) {
                    var field = _a[_i];
                    if (typeof field === 'object' && field.key === key) {
                        return field.title;
                    }
                }
            }
            return key;
        };

        TableTextGenerator.prototype.getHeaderObj = function (key) {
            if (this.fields && this.fields instanceof Array) {
                for (var _i = 0, _a = this.fields; _i < _a.length; _i++) {
                    var field = _a[_i];
                    if (typeof field === 'object' && field.key === key) {
                        return field;
                    }
                }
            }
        };

        return TableTextGenerator
    }());

    var SettingsGenerator = (function () {
        var Block = function () {
            var el = document.createElement('div');
            el.className = 'sportorg-settings';
            return el
        };
        var Row = function () {
            var el = document.createElement('div');
            el.className = 'sportorg-settings-row';
            return el
        };

        function SettingsGenerator(settings) {
            this.settings = settings;
            this.isShow = true;
        }

        SettingsGenerator.prototype.show = function () {
            var block = Block();
            this.el = block;
            for (var _i = 0, _a = this.settings; _i < _a.length; _i++) {
                var setting = _a[_i];
                var row = Row();
                row.className = row.className + ' ' + 'sportorg-settings-hidden';
                row.appendChild(this.getElBySetting(setting));
                block.appendChild(row);
            }
            var btn = Row();
            btn.appendChild(this.getHiddenButton());
            block.appendChild(btn);
            document.body.appendChild(block);
            this.toggleHidden();
        };
        SettingsGenerator.prototype.getElBySetting = function (setting) {
            if (typeof setting.value === 'boolean') {
                var i = document.createElement('input');
                i.type = 'checkbox';
                if (setting.value) {
                    i.checked = true;
                }
                if (setting.change) {
                    i.onchange = function () {
                        if (i.checked !== setting.value) {
                            setting.change(i.checked);
                            setting.value = i.checked;
                        }
                    }
                }
                var label = document.createElement('label');
                label.appendChild(i);
                label.appendChild(document.createTextNode(setting.title));
                return label
            } else if (setting.value instanceof Array) {
                var s = document.createElement('select');
                for (var _i = 0, _a = setting.value; _i < _a.length; _i++) {
                    var obj = _a[_i];
                    s.appendChild(new Option(obj.text, obj.value));
                }
                if (setting.change) {
                    s.onchange = function () {
                        var results = [];
                        for (var _i = 0, _a = s.selectedOptions; _i < _a.length; _i++) {
                            var item = _a[_i];
                            results.push(item.value);
                        }
                        setting.change(results);
                    };
                }
                var label = document.createElement('label');
                label.appendChild(document.createTextNode(setting.title));
                label.appendChild(s);
                return label
            }
        };
        SettingsGenerator.prototype.toggleHidden = function () {
            var els = document.getElementsByClassName('sportorg-settings-hidden');
            for (var _i = 0, els_ = els; _i < els_.length; _i++) {
                var el = els_[_i];
                if (this.isShow) {
                    el.style.display = 'none';
                    if (this.el) {
                        this.el.style.opacity = '.3';
                    }
                }
                else {
                    el.style.display = 'block';
                    if (this.el) {
                        this.el.style.opacity = '1';
                    }
                }
            }
            this.isShow = !this.isShow;
        };
        SettingsGenerator.prototype.getHiddenButton = function () {
            var el = document.createElement('button');
            el.appendChild(document.createTextNode('SETTINGS'));
            var _this = this;
            el.onclick = function (ev) { _this.toggleHidden() };
            return el;
        };
        return SettingsGenerator;
    }());

    function toHHMMSS(value) {
        if (value === 0) {
            return '00:00:00'
        }
        if (!value) return '';
        value /= 1000;
        var hours = Math.floor(value / 3600);
        value %= 3600;
        var minutes = Math.floor(value / 60);
        var seconds = ~~(value % 60);

        var date = new Date(2000, 0, 1, hours, minutes, seconds);

        var with0 = function (dd) {
            return (dd < 10 ? '0' + dd : dd) + '';
        };

        return with0(date.getHours()) + ':' + with0(date.getMinutes()) + ':' + with0(date.getSeconds());
    }

    function getById(list, id) {
        if (id) {
            for (var _i = 0, list_ = list; _i < list_.length; _i++) {
                var obj = list_[_i];
                if (obj.id === id) {
                    return obj;
                }
            }
        }
        return null;
    }

    function racePreparation(race) {
        for (var _i = 0, _a = race.persons; _i < _a.length; _i++) {
            var obj = _a[_i];
            obj.organization = getById(race.organizations, obj.organization_id);
            obj.group = getById(race.groups, obj.group_id);
        }
        for (var _b = 0, _c = race.results; _b < _c.length; _b++) {
            var obj = _c[_b];
            obj.status = obj.status === 16 ? 1 : obj.status;
            obj.person = getById(race.persons, obj.person_id);
        }
        for (var _d = 0, _e = race.groups; _d < _e.length; _d++) {
            var obj = _e[_d];
            obj.course = getById(race.courses, obj.course_id);
        }
        for (var _f = 0, _g = ['groups', 'courses', 'organizations']; _f < _g.length; _f++) {
            var itemName = _g[_f];
            race[itemName].sort(function (a, b) {
                if (a.name.toUpperCase() < b.name.toUpperCase())
                    return -1;
                if (a.name.toUpperCase() > b.name.toUpperCase())
                    return 1;
                return 0;
            });
        }
        return race;
    }

    function getGroupsBlockElement(race) {
        var groupBlock = document.createElement('div');
        groupBlock.className = 'no-print';
        for (var _i = 0, _a = race.groups; _i < _a.length; _i++) {
            var group = _a[_i];
            var a = document.createElement('a');
            a.href = '#' + group.name;
            a.appendChild(document.createTextNode(group.name + ' '));
            groupBlock.appendChild(a);
        }
        return groupBlock;
    }

    function dateFormat(date) {
        date = date ? new Date(date) : new Date();
		return date.getDate().toString().padStart(2,'0')  + '.' + (date.getMonth() + 1).toString().padStart(2,'0') + '.' + date.getFullYear();
    }

    var Qualification = {
        '': 'б/р',
        0: 'б/р',
        3: 'IIIю',
        2: 'IIю',
        1: 'Iю',
        6: 'III',
        5: 'II',
        4: 'I',
        7: 'КМС',
        8: 'МС',
        9: 'МСМК'
    };

    var STATUS_PRIORITY = [8, 4, 3, 5, 13];

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
                .toString(16)
                .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }
</script>
{% endraw %}